.container {
  display: grid;
  grid-template-areas: "title" "google" "inputs" "confirm";
  grid-row-gap: 15px;
}

.title {
  grid-area: title;
  display: flex;
  align-items: center;
  justify-content: center;
  border-bottom: 2px dashed #30475e;
}

.title h2 {
  color: #30475e;
  font-family: "Mitr", sans-serif;
  font-size: 2rem;
  text-shadow: 1px 1px #f9f7f7;
  margin: 15px;
  letter-spacing: 2px;
}

.google {
  background: white;
  grid-area: "google";
  display: grid;
  grid-template-columns: 0.15fr 1fr;
  grid-template-areas: "icon gbutton";
  border: 1px solid black;
  color: #30475e;
  width: 100%;
  border-radius: 10px;
  height: 45px;
  outline: none;
  transition: ease-in 0.1s;
  box-shadow: 0px 2px #283149;
}

.google:hover {
  transform: translateY(-1px);
  transform: scale(1.04);
}

.icon {
  grid-area: icon;
  font-size: 30px;
  padding: 8px 0px;
  color: #4285fe;
}

.google button {
  font-family: "Mitr", sans-serif;
  font-size: 16px;
  color: #30475e;
  grid-area: gbutton;
  border: none;
  border-radius: 0;
  width: 100%;
  background-color: transparent;
  outline: none;
  padding-right: 50px;
  letter-spacing: 2px;
}

.google:active {
  transform: translateY(2px);
  box-shadow: 0px 2px 0px 0px rgba(48, 71, 94, 0.3);
}

.modalButton {
  font-family: "Mitr", sans-serif;
  font-size: 16px;
  color: #30475e;
  width: 100%;
  height: 45px;
  border: 1px solid black;
  border-radius: 10px;
  outline: none;
  transition: ease-in 0.1s;
  box-shadow: 0px 2px #283149;
  letter-spacing: 2px;
}

.modalButton:hover {
  transform: translateY(-1px);
  transform: scale(1.04);
  background: #f73859;
  color: white;
}

.modalButton:active {
  transform: translateY(2px);
  box-shadow: 0px 2px 0px 0px rgba(48, 71, 94, 0.3);
}

.inputs {
  grid-area: "inputs";
  padding: 10px 15px;
  font-family: "Mitr", sans-serif;
  border: 1px solid #283149;
  border-radius: 10px;
  background: #f9f7f7;
  box-shadow: 0px 2px #283149;
}

.inputs p,
a {
  margin: 0;
  letter-spacing: 2px;
  font-size: 18px;
}

.inputs input {
  background-color: transparent;
  width: 100%;
  height: 20px;
  border: none;
  border-bottom: 2px solid gray;
  outline: none;
  margin-bottom: 5px;
  font-size: 14px;
  color: #f73859;
  opacity: 0.8;
}

.inputs a {
  color: #f73859;
  font-size: 12px;
  letter-spacing: 1px;
  transition: ease-in 0.2s;
  text-decoration: none;
}

.inputs a:hover {
  color: #283149;
  text-shadow: 1px 0px #f73859;
  font-size: 12.5px;
}

.text-input:valid {
  color: #06623b;
}

.text-input:invalid {
  color: #f73859;
}

.confirm {
  grid-area: "confirm";
}

.text-input:focus::-webkit-input-placeholder {
  transition: text-indent 0.6s 0.6s ease;
  text-indent: -100%;
  opacity: 0.8;
}
