:root {
  font-size: 16px;
  font-family: "Mitr", sans-serif;
  --text-primary: #30475e;
  --text-secondary: #f9f7f7;
  --bg-primary: #30475e;
  --bg-secondary: #3a4750;
  --transition-speed: 400ms;
}

body::-webkit-scrollbar {
  width: 0.25rem;
}

body::-webkit-scrollbar-track {
  background: #30475e;
}

body::-webkit-scrollbar-thumb {
  background: #f2a365;
}

.sidebar-container {
  color: black;
  background-color: white;
}

::-webkit-scrollbar {
  width: 0px;
  height: 0px;
  background: transparent; /* make scrollbar transparent */
}

.navbar {
  position: fixed;
  background-color: var(--bg-primary);
  transition: width var(--transition-speed) ease;
}

.navbar-active {
  position: fixed;
  background-color: var(--bg-primary);
  transition: width var(--transition-speed) ease;
  overflow: scroll;
}

.navbar-nav {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
}

.nav-item {
  width: 100%;
}

.nav-link {
  display: flex;
  align-items: center;
  height: 4rem;
  color: var(--text-secondary);
  text-decoration: none;
  filter: grayscale(40%) opacity(0.9);
  transition: var(--transition-speed);
  border-bottom: 1px solid var(--text-secondary);
}

.nav-link:hover {
  filter: grayscale(0%) opacity(1) brightness(1.2);
  background: var(--bg-secondary);
  color: var(--text-secondary);
}

.link-text {
  display: none;
  margin-left: 0.75rem;
}

.nav-link .icon {
  font-size: 28px;
  min-width: 2rem;
  margin: 0 1rem;
  color: #f2a365;
}

.logo {
  background: var(--bg-secondary);
  width: 100%;
}

.logo .link-text {
  color: var(--text-primary);
  font-size: 1.6rem;
  -webkit-text-stroke: 1px #f9f7f7;
  text-shadow: 1px 2px #f2a365;
  letter-spacing: 0.15ch;
  font-weight: bold;
  text-align: center;
  transition: ease-in var(--transition-speed);
}

.logo button {
  outline: none;
  border: none;
  background: transparent;
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
}

.logo .icon {
  transform: rotate(0deg);
  transition: transform var(--transition-speed);
}

.nav-item .link-text {
  font-family: "Roboto", sans-serif;
  font-weight: 600;
}

/* Small screens */
@media only screen and (max-width: 600px) {
  .navbar {
    bottom: 0;
    width: 100vw;
    height: 4rem;
  }

  .navbar-active {
    bottom: 0;
    width: 100vw;
    height: 4rem;
  }

  .logo {
    display: none;
  }

  .navbar-nav {
    flex-direction: row;
  }

  .nav-link {
    justify-content: center;
  }
}

/* Large screens */
@media only screen and (min-width: 600px) {
  .navbar {
    top: 0;
    width: 4rem;
    height: 100vh;
  }

  .navbar-active {
    width: 12rem;
    position: fixed;
    background-color: var(--bg-primary);
    transition: width var(--transition-speed) ease;
    height: 100vh;
  }

  .navbar-active .logo .icon {
    transform: rotate(-180deg);
  }

  .navbar-active .link-text {
    display: inline;
    transition: opacity var(--transition-speed) ease-in;
  }

  .nav-item:last-child {
    margin-top: auto;
    border-top: 1px solid var(--text-secondary);
  }
}
