html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  overflow-y: hidden;
}

.startup-container {
  background: linear-gradient(-45deg, #ececec, #fcdcc3);
  background-size: 400% 400%;
  height: 100vh;
  width: 100vw;
  margin: 0;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 0.5fr 2fr 0.5fr;
  grid-template-areas:
    "header header header"
    "body body body"
    "footer footer footer";
}

.startup-header {
  grid-area: header;
  display: flex;
  justify-content: left;
  align-items: center;
  border-bottom: 1px dashed grey;
  margin-left: 40px;
  margin-right: 40px;
}

.startup-header p {
  text-shadow: 3px 4px #f2a365;
  -webkit-text-stroke: 1px #f9f7f7;
  font-family: "Mitr", sans-serif;
  color: #30475e;
  font-size: 70px;
  letter-spacing: 5px;
  margin: 10px;
  padding-left: 40px;
  font-weight: 800;
}

.startup-body {
  flex: 1;
  height: 100%;
  padding: 30px;
  grid-area: body;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  grid-template-areas:
    "body lbtn"
    "body sbtn";
}

.description {
  border-radius: 50px;
  grid-area: body;
  display: flex;
  justify-content: left;
  align-items: center;
}

.description p {
  font-family: "Mitr", sans-serif;
  color: #30475e;
  font-size: 18px;
  letter-spacing: 2px;
  margin: 10px 10px 10px 50px;
}

.description b {
  font-size: 22px;
  text-shadow: 1px 2px #f2a365;
}

.login-button {
  grid-area: lbtn;
  display: flex;
  justify-content: center;
  align-items: center;
}

.signup-button {
  grid-area: sbtn;
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

.button {
  width: 250px;
  background: #f2a365;
  border: solid 1px #30475e;
  font-family: "Mitr", sans-serif;
  box-shadow: 3px 3px #30475e;
  color: #30475e;
  font-size: 20px;
  letter-spacing: 2px;
  padding: 15px;
  border-radius: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: ease-in 0.2s;
  border: none;
  outline: none;
}

.button:active {
  transform: translateY(3px);
  box-shadow: 0px 2px 0px 0px rgba(48, 71, 94, 0.3);
}

.button:hover {
  color: #222831;
  border: none;
  transform: translateY(-1px);
  background: #ecece2;
}

.startup-footer {
  grid-area: footer;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.startup-footer p {
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  bottom: 0;
  position: fixed;
  color: #30475e;
}

@media (max-width: 1094px) {
  .startup-container {
    grid-template-rows: 0.1fr 1fr 0.1fr;
  }
  .startup-header {
    padding-left: 0px;
    align-items: baseline;
  }
  .description {
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 2%;
  }
  .startup-body {
    padding: 0%;
    grid-template-rows: 1fr 0.75fr 0.75fr;
    grid-template-columns: 1fr;
    grid-template-areas:
      "body body"
      "lbtn lbtn"
      "sbtn sbtn";
  }
  .description p {
    font-size: 18px;
    margin: 0px;
  }
  .description b {
    font-size: 20px;
  }
}

@media (max-width: 715px) {
  .startup-body {
    grid-template-rows: 1fr 0.5fr 0.5fr;
  }
  .description p {
    font-size: 16px;
    margin: 0px;
  }
  .description b {
    font-size: 18px;
  }
}
